{% extends "base.html" %}

{% block content %}
<div class="ToolsPage">
  <div class="ToolsTextContainer">
    <h1 class="ToolsTitle">AI Image Editor</h1>
    <p class="ToolsSubtitle">Prausam AI makes photo editing simple and easy! Use our world-class AI tools to make your photos look amazing!</p>
  </div>

  <div class="ToolsSectionContainer">
    <div class="ToolColumn">
      <img src="https://via.placeholder.com/296x296" alt="AI Backgrounds" />
      <p>AI Backgrounds</p>
    </div>
    <div class="ToolColumn">
      <img src="https://via.placeholder.com/296x296" alt="Image Upscaler" />
      <p>Background Remover</p>
    </div>
  </div>
</div> 
{% endblock %}