<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Prausam AI{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tool.css') }}">
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='logo/logo_symbol_black.png') }}" type="image/x-icon">
    <!-- For better display on high-resolution screens -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='logo/logo_symbol_black.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='logo/logo_symbol_black_32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='logo/logo_symbol_black_16.png') }}">
</head>
<body>
    <!-- Include the navigation bar -->
    {% include 'navbar.html' %}

    <!-- Main content -->
    {% block content %}{% endblock %}

    <!-- Include the footer -->
    {% include 'footer.html' %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
