{% extends "base.html" %}

{% block content %}
<main>
  <div class="ToolsPage">
    <div class="ToolsTextContainer">
      <h1 class="ToolsTitle">All tools</h1>
      <p class="ToolsSubtitle">Prausam AI makes photo editing simple and easy! Use our world-class AI tools to make your photos look amazing!</p>
    </div>

    <div class="ToolsSectionContainer">
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="Image Upscaler" />
        <p>AI Backgrounds</p>
      </div>
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="Image Upscaler" />
        <p>Background Remover</p>
      </div>
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="Black Background" />
        <p>Change Background</p>
      </div>
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="AI Product Photos" />
        <p>Crop Image</p>
      </div>
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="AI Product Photos" />
        <p>Blur Background</p>
      </div>
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="Image Upscaler" />
        <p>Add Text to Image</p>
      </div>
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="Black Background" />
        <p>Magic Eraser</p>
      </div>
      <div class="ToolColumn">
        <img src="https://via.placeholder.com/296x296" alt="AI Product Photos" />
        <p>Image Upscale</p>
      </div>
    </div>
  </div> 
</main> 
{% endblock %}